/sscep
/sscep_static
/sscep_dyn
/.git_checkout
/src/config.h*
/src/*.o
/sscep-*.tar.gz
/sscep-*.tar.bz2

.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.log
config.status
configure
depcomp
install-sh
libtool
m4
missing
stamp-h1

CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt

/.vs
/sscep.dir
/sscep.sln
*.vcxproj*
Debug
Release
x64
